.category_list_item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    position: relative;
    margin-bottom: 15em;
    grid-row-gap: 10px;
}
.category_text{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    letter-spacing: 25px;
    cursor: pointer;
}
