.checkout-list{
    display: grid;
    background: lightcoral;
    overflow-y: scroll;
    scrollbar-color:  #fa783b rgb(241, 241, 241);
    scrollbar-width: thin;
    row-gap: 1em;
}
.checkout-list-item-extends{
    justify-items: center;
    margin-bottom: 4em;
    border-bottom: 1px solid black;
    padding: 1em 0em;
    position: sticky;
}