.checkoutPageContainer{
    font-size: 62.5%;
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows:calc(100vh - var(--navbar-height));
    justify-content: center;

}

.checkout{
    padding: 8em 0em; 
    display: grid;
    grid-template-rows: min-content 1fr min-content ;
    row-gap: 3em;
}
.checkout-bottom-content{
    display: grid;
    grid-template-columns: repeat(2,max-content);
    align-items: center;
    column-gap: 3em;
}