.navbar {
  width: 100vw;
  height: var(--navbar-height);
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr repeat(3, min-content);
  padding: 0px 80px;
  outline: none;
  align-content: center;
  column-gap: 20px;
  font-size: 62.5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
/* resume video from 21:50 */